*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h2 {
  color: var(--font-500);
  font-size: var(--ft-size-400);
  font-weight: 400;
}

:root {
  --bg-light-100: #ffffff;
  --bg-light-500: #f9f9f9;
  --bg-light-700: #e4e4e4;
  --bg-dark-500: 48, 54, 61;

  --font-100: #fff;
  --font-300: #908ea7;
  --font-400: #737186;
  --font-500: #36344b;

  --ok-500: #53c245;
  --error-500: #e53e3e;
  --secondary: 60, 148, 248;

  --ft-size-200: 1.2rem;
  --ft-size-300: 1.4rem;
  --ft-size-400: 1.6rem;
  --ft-size-500: 2.1rem;
  --ft-size-600: 2.8rem;

  --max-width: 630px;
}

/* Utils */

.link {
  font-size: var(--ft-size-300);
  font-weight: 300;
  text-decoration: none;
  color: rgb(var(--secondary));
  width: fit-content;
}

.btn--primary {
  font-size: var(--ft-size-200);
  border: transparent;
  background-color: rgb(var(--secondary));
  color: var(--font-100);
  border-radius: 0.5rem;
  padding: 0.25em 0.5em;
  min-width: fit-content;
  cursor: pointer;
}
.btn--primary:disabled {
  background-color: rgba(var(--secondary), 0.7);
  cursor: not-allowed;
}
.btn--secondary {
  margin: 2rem 0 1rem 0;
  font-size: var(--ft-size-500);
  color: var(--font-100);
  border: transparent;
  background-color: rgba(var(--bg-dark-500), 0.7);
  border-radius: 0.25em;
}
.btn--secondary:disabled {
  background-color: rgba(var(--bg-dark-500), 0.3);
}
.message {
  font-size: var(--ft-size-300);
  color: var(--font-500);
  font-weight: 300;
  text-align: center;
  padding-block: 1rem;
}
.message--error {
  font-weight: 400;
  color: var(--error-500);
}
.btn--primary:hover {
  background-color: rgba(var(--secondary), 0.7);
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  background: var(--bg-light-500);
  border-bottom: 1px solid var(--bg-light-700);
  padding-block: 1.5rem;
  margin-bottom: 1rem;
  color: var(--font-500);
}

.header > section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 370px;
}

.header__search {
  color: inherit;
  font-size: var(--ft-size-400);
  padding: 0.5rem 1rem;
  border: 1px solid rgb(var(--bg-dark-500));
  border-radius: 0.5rem;
  width: 100%;
}

/* Filters  */

.sort {
  color: inherit;
  font-size: var(--ft-size-400);
  width: 100%;
  padding: 0.25em 0.5em;
  border: 1px solid rgb(var(--bg-dark-500));
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Repos */
.repos {
  margin-inline: 2rem;
}
.repos__users {
  background-color: var(--bg-light-500);
  border-radius: 0.25rem;
  color: var(--font-500);
  border: 1px solid var(--bg-light-700);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 0.5rem;
  margin-top: 1rem;
}
.repos__users > img {
  max-width: 8ch;
}
.repos__users > a {
  font-size: var(--ft-size-500);
}

/* Repo */

.repo {
  display: grid;
  gap: 0.75rem;
  background: var(--bg-light-500);
  color: var(--font-500);
  border: 1px solid var(--bg-light-700);
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
.repo:first-child {
  margin: 0;
}
.repo__link {
  font-size: var(--ft-size-400);
}
.repo__link--name {
  font-weight: 500;
}

.repo__description {
  font-size: var(--ft-size-400);
}

.repo__info {
  font-size: var(--ft-size-300);
  color: var(--font-400);
  font-weight: 300;
}

.repo__info--item {
  color: var(--font-500);
  font-weight: 400;
}

.repo__topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.repo__info-numbers {
  display: flex;
  gap: 1rem;
}

/* Single repo */

.single__repo {
  display: grid;
  margin: 1rem 2rem;
  justify-content: center;
}
.single__repo-info {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light-500);
  padding: 0.5rem;
  border: 1px solid var(--bg-light-700);
  border-radius: 0.5rem;
  min-width: 90vw;
}
.single__repo-profile {
  font-size: var(--ft-size-400);
}
.single__repo-name {
  color: var(--font-500);
  font-size: var(--ft-size-500);
  font-weight: 400;
}
.single__repo-title {
  font-weight: 600;
}
.single__repo-owner {
  font-weight: 500;
}
.single__repo-contributor {
  text-decoration: none;
}
.contributors__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0.5rem;
  gap: 1rem;
}

/* Commits */

.commits__length {
  margin: 1rem 1rem -1rem 1rem;
}
.commit {
  display: grid;
  grid-template-columns: 8ch 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas:
    'img link .'
    'img date .'
    'message message message';
  align-items: start;
  margin-block: 2rem;
  padding: 1rem;
  background-color: var(--bg-light-500);
  border: 1px solid var(--bg-light-700);
  border-radius: 0.5rem;
}
.commit__author-profile {
  grid-area: img;
  border-radius: 100rem;
}
.commit__author-link {
  grid: link;
}
.commit__followers {
  font-size: var(--ft-size-300);
}
.commit__date {
  grid-area: date;
  color: var(--font-400);
}
.commit__message {
  grid-area: message;
  word-break: break-word;
  color: var(--font-500);

  font-size: var(--ft-size-300);
}
.commit__message--limit {
  max-height: 11rem;
  overflow: hidden;
}

/* Profile*/

.user {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-areas:
    'user'
    'repos';
  margin: 1rem;
}

.user__information {
  grid-area: user;
  place-self: start center;
  background-color: var(--bg-light-500);
  border: 1px solid var(--bg-light-700);
  padding: 0.75rem 0.5rem;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}
.user__information > aside {
  align-self: center;
  color: var(--font-500);
  max-width: 300px;
}
.user__image {
  max-width: 15ch;
  border-radius: 100rem;
}
.user__repos {
  grid-area: repos;
  max-width: var(--max-width);
}
.user__name {
  font-size: var(--ft-size-500);
}
.user__login {
  font-size: var(--ft-size-400);
  color: var(--font-400);
}
.user__bio {
  font-size: var(--ft-size-400);
}

/* Not found */

.not__found {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--bg-light-500);
  padding-inline: 1rem;
}
.not__found-header {
  font-size: var(--ft-size-600);
  color: var(--font-500);
}
.not__found-link {
  font-size: var(--ft-size-500);
}

.next__page-nav {
  margin-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-btn {
  font-size: var(--ft-size-500);
}
.next-page {
  color: var(--font-500);
  font-size: var(--ft-size-600);
  margin-inline: 2rem;
}

@media screen and (min-width: 660px) {
  .repo {
    width: calc(var(--max-width) - 10px);
  }
  .repos__users {
    min-width: var(--max-width);
  }
  .single__repo-info {
    min-width: calc(var(--max-width) - 30px);
    max-width: var(--max-width);
  }
  .repos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .commit {
    width: var(--max-width);
  }
}
@media screen and (min-width: 850px) {
  .user {
    grid-template-columns: 250px minmax(1fr, var(--max-width));
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas: 'user repos';
    justify-content: center;
  }
}
/* Animations */

.spinner {
  display: inline-block;
  width: 5em;
  height: 5em;
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 4em;
  height: 4em;
  margin: 4px;
  border-radius: 50%;
  border: 0.3em solid rgb(var(--bg-dark-500));
  border-color: rgb(var(--bg-dark-500)) transparent rgb(var(--bg-dark-500))
    transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
